# System files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
dist/
out/
/target/

# Rust
**/Cargo.lock
*.rs.bk

# Dependencies
node_modules/
vendor/

# Logs
*.log
logs/

# Secrets
*.env
.env.*
!.env.example

# Local configuration
.local
local.settings.json

# OS-specific
.AppleDouble
.LSOverride

# Cache files
.cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.ruff_cache/
.pytest_cache/
.mypy_cache/

# Project-specific
*.db
*.sqlite3
/index/vecdb/
/voice_recordings/
